/* CSS for the GCC web site.

   Gerald Pfeifer <gerald@pfeifer.com>
 */

body      { background-color: white; color: black; }

a:link    { color: #0066bb; text-decoration: none; }
a:visited { color: #003399; text-decoration: none; }
a:hover   { color: darkorange; text-decoration: none; }

h1        { color: darkslategray; text-align:center; }
h2        { color: darkslategray; }

.highlight{ color: darkslategray; font-weight:bold; }
.smaller  { font-size: 80%; }

.left     { text-align:left; }
.right    { text-align:right; }
.center   { text-align:center; margin-left:auto; margin-right:auto; }
.top      { vertical-align:top; }
.middle   { vertical-align:middle; }

.width33  { width:33%; }
.border0  { border-width:0; }

.no-margin-top { margin-top:0; }
.twocolumns { column-count:2; }
.imgleft { margin: 5px 20px; float: left; }

img.right { float: right; }

td.news      { width: 50%; padding-right: 8px; vertical-align: top; }
td.news h2   { font-size: 1.2em; margin-top: 0; margin-bottom: 2%; }
td.news dl   { margin-top:0; }
td.news dt   { color:darkslategrey; font-weight:bold; margin-top:0.3em; }
td.news dd   { margin-left:3ex; margin-top:0.1em; margin-bottom:0.1em; }
td.news .date { color:darkslategrey; font-size:90%; margin-left:0.1ex; }

td.status    { width: 50%; padding-left: 12px; vertical-align: top;
               border-left: #3366cc thin solid; }
td.status h2 { font-size: 1.2em; margin-top:0; margin-bottom: 1%; }
td.status dl { margin-top:0; }
td.status .version { font-weight:bold; }
td.status .regress { font-size: 80%; }
td.status dd { margin-left:3ex; }

table.nav {
  padding-left: 32px;
  border-spacing: 0pt;
}

table.nav td {
  border-width: 0;
}

table.navitem {
  width: 100%;
  border-spacing: 0pt;
}

table.navitem tr:nth-child(1) {
  border-color: #3366cc;
  border-style: solid;
  border-width: thin;
  color: #f2f2f9;
  background-color: #0066dd;
  font-weight: bold;
}
table.navitem tr:nth-child(2) {
  padding-top: 3px;
  padding-left: 8px;
  padding-bottom: 3px;
  background-color: #f2f2f9;
  font-size: smaller;
}

div.copyright {
  clear: both;
  font-size: smaller;
  background: #f2f2f9;
  border: 2px solid #3366cc;
  border-style: solid;
  border-width: thin;
  padding: 4px;
}
div.copyright p:nth-child(3) { margin-bottom: 0; }

.bold        { font-weight:bold; }
.boldcyan    { font-weight:bold; color:cyan; }
.boldlime    { font-weight:bold; color:lime; }
.boldmagenta { font-weight:bold; color:magenta; }
.boldred     { font-weight:bold; color:red; }
.boldgreen   { font-weight:bold; color:green; }
.boldblue    { font-weight:bold; color:blue; }
.red         { color:red; }
.green       { color:green; }
.blue        { color:blue; }
.blackbg     { color:white; background-color: #000000; }

/* Quote an e-mail.  The first <div> has the sender, the second the quote. */
blockquote.mail div:nth-child(2) { border-left: solid blue; padding-left: 4pt; }

/* This comes close to <table border="1">, alas a bit less bordersome. */
table.border    th { border:2px solid; }

/* C++ status tables. */
table.cxxstatus th, table.cxxstatus td { border: 1px solid gray; }
table.cxxstatus td:nth-child(3) { text-align:center; }
table.cxxstatus tr.separator { background: #f2f2f9; }

/* C++ Defect Report table. */
table.cxxdrstatus th, table.cxxdrstatus td { border: 1px solid gray; }
table.cxxdrstatus td:nth-child(4) { text-align:center; }
table.cxxdrstatus tr.separator { background: #f2f2f9; }
table.cxxdrstatus { width: 65%; }

/* Padded tables. */
table.padding5 th, td { border: 1px solid gray; padding:5px; }

.supported   { background-color: lightgreen; }
.unsupported { background-color: lightsalmon; }
.other { background-color: lightgray; }
.partial { background-color: lightyellow; }
.open { color: #AAAAAA; }

/* Online documentation. */

pre.smallexample { 
  font-size: medium;
  background: #f2f2f9;
  padding: 4px; 
  display: inline-block;
}

/* Classpath versus libgcj merge status page. */

.classpath-only         { background-color: #FFFFAA; }
.libgcj-only            { background-color: #FFFFAA; }
.VM-specific            { background-color: #CCCCFF; }
.GCJ-specific           { background-color: #CCCCFF; }
.needsmerge             { background-color: #FF9090; }
.merged                 { background-color: #22FF22; }
.merged-expected-diff   { background-color: #22FF22; }
.merged-unexpected-diff { background-color: #FF4444; }
